/* Audrey Hepburn Tribute color palette
black
white
#7C7C7C (gray)
*/

body {
    font-family: 'Lora', serif;
}

header, footer[role="contentinfo"]{
    text-align: center;
    background: url('../images/pattern.jpg') repeat;
    background-size: 600px auto;
}

footer[role="contentinfo"]{
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
}

/*Main title*/
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4.25em;
}

/*Subtitle and Tagline*/
header p{
    font-family: 'PT Sans Narrow', sans-serif;
}

/*Subtitle*/
header p:nth-child(2){
    font-size: 1.5em;
}

/*Tagline*/
header p:nth-of-type(2){
    font-size: 2em;
}

a:link{
    color: black;
    border-bottom: 1px dotted #7C7C7C;
}

a:visited{
    color: #7C7C7C;
    text-decoration:none;
}

a:hover{
    text-decoration:none;
    font-weight: bold;
}

a:focus{
    text-decoration:none;
}

/*Optimize line lengths for readability*/
main .container{
        max-width: 540px
    }